/* Общие настройки */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font-famile);
}

h1 {
  cursor: default;
}

:root {
  --main-font-size: 1rem;
  --main-font-famile: "Cinzel", "Georgia", "Times New Roman", serif;
  --main-font-color: rgb(101, 67, 58);
  --second-font-color: beige;
  --third-font-color: bisque;
  --top-font-hover: rgb(144, 120, 113);
  --main-font-hover: rgb(219, 219, 191);
}

#root {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main";
}

/* Иконки */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: calc(var(--main-font-size) * 3);
  line-height: normal;
  cursor: pointer;
}

/* Настройка скрытия форм  */
.hidden {
  display: none;
}

.block {
  display: block;
}

/* Настройка наведения курсора мыши */
aside > div:hover {
  background-color: var(--main-font-hover);
  cursor: pointer;
}

#createNotebookForm:hover {
  background-color: var(--second-font-color);
}

.icon-click:hover {
  color: var(--top-font-hover);
}

#addNotebookButton {
  background-color: rgb(140, 192, 140);
  cursor: pointer;
}

#addNotebookButton:hover {
  background-color: rgb(165, 194, 165);
}

#cancelNotebookButton {
  cursor: pointer;
  background-color: rgb(226, 95, 95);
}

#cancelNotebookButton:hover {
  background-color: rgb(224, 136, 136);
}

/* flex */

header,
.notebook,
#addNotebookDiv,
#addNameNotebook + div,
.optionMenu {
  display: flex;
}

/* Настройка верхней части страницы */
header {
  grid-area: header;
  height: 10vh;
  width: 100vw;
  background-color: var(--main-font-color);
  justify-content: space-between;
  align-items: center;
  color: var(--second-font-color);
}

header div {
  padding: 0 1rem;
}

header h1 {
  font-family: "Courier New", Courier, monospace;
}

/* Настройка левой панели */
aside {
  grid-area: aside;
  height: 90vh;
  width: 20vw;
  background-color: var(--second-font-color);
  overflow-y: auto;
  color: var(--main-font-color);
}

aside::-webkit-scrollbar {
  width: 0;
}

aside h1 {
  text-align: center;
  margin-top: 1rem;
}

aside div {
  padding: 0 0.6rem;
  align-items: center;
}

.notebook {
  justify-content: space-between;
}

/* Настройки раздела с добавлением проекта */
#addNotebookDiv div,
.notebookName {
  font-size: calc(var(--main-font-size) * 1.1);
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
}

/* .notebookName {
  overflow: hidden;
} */

#addNotebookDiv span,
.notebookMenu {
  font-size: calc(var(--main-font-size) * 2);
}

.notebookMenu {
  align-self: flex-end;
}

#addNameNotebook {
  border: 3px solid var(--main-font-color);
  margin: 0.5rem 0;
  width: 100%;
}

/* кнопки Добавить и Отмена для проектов */
#addNameNotebook + div {
  justify-content: center;
  gap: 1rem;
}

#addNameNotebook + div button {
  border-radius: 10px;
  padding: 0.2rem;
  width: 5rem;
}

/* настройка окна с опциями и кнопок для блокнотов и задач */
.optionMenu {
  flex-direction: column;
  width: max-content;
  padding: 0;
  display: none;
  position: absolute;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: white;
  z-index: 1;
}

.optionMenu:hover {
  background-color: white;
}

.optionButton {
  display: block;
  width: 100%;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.optionButton:hover {
  background-color: lightgray;
}

/* Настройка правой панели */
main {
  grid-area: main;
  height: 90vh;
  width: 80vw;
  background-color: var(--third-font-color);
  overflow-y: auto;
}

main::-webkit-scrollbar {
  width: 0;
}

/* настройки для мобильной версии */
@media (max-width: 768px) {
  #root {
    grid-template-areas:
      "header"
      "aside"
      "main";
  }

  aside {
    height: 15vh;
    width: 100vw;
  }

  main {
    height: 75vh;
    width: 100vw;
  }

  header h1 {
    font-size: calc(var(--main-font-size) * 1.5);
  }

  .notebookName {
    font-size: var(--main-font-size);
  }
}
