/* Общие настройки */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font-famile);
}

h1 {
  cursor: default;
}

:root {
  --main-font-size: 1rem;
  --main-font-famile: "Cinzel", "Georgia", "Times New Roman", serif;
  --main-font-color: rgb(101, 67, 58);
  --second-font-color: beige;
  --third-color-color: rgb(248, 227, 202);
  --top-color-hover: rgb(144, 120, 113);
  --aside-color-hover: rgb(219, 219, 191);
  --main-color-hover: rgb(202, 185, 164);
  --selected-color: rgb(224, 207, 186);
}

#root {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main";
}

/* Иконки */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: calc(var(--main-font-size) * 3);
  line-height: normal;
  cursor: pointer;
}

/* Настройка скрытия форм  */
.hidden {
  display: none !important;
}

.block {
  display: block;
}

/* Настройка наведения курсора мыши */
aside > div:hover {
  background-color: var(--aside-color-hover);
  cursor: pointer;
}

main > .task:hover,
main > #addTaskDiv:hover {
  background-color: var(--main-color-hover);
  cursor: pointer;
}

#createNotebookForm:hover {
  background-color: var(--second-font-color);
}

.icon-click:hover {
  color: var(--top-color-hover);
}

#addNotebookButton,
#addTaskButton {
  background-color: rgb(140, 192, 140);
  cursor: pointer;
}

#addNotebookButton:hover,
#addTaskButton:hover {
  background-color: rgb(165, 194, 165);
}

#cancelNotebookButton,
#cancelTaskButton {
  cursor: pointer;
  background-color: rgb(229, 108, 108);
}

#cancelNotebookButton:hover,
#cancelTaskButton:hover {
  background-color: rgb(224, 136, 136);
}

/* flex */

header,
.notebook,
#addNotebookDiv,
#addTaskDiv,
#addNameNotebook + div,
.optionMenu,
.priority,
#createTaskForm form {
  display: flex;
}

/* Настройка верхней части страницы */
header {
  grid-area: header;
  height: 10vh;
  width: 100vw;
  background-color: var(--main-font-color);
  justify-content: space-between;
  align-items: center;
  color: var(--second-font-color);
}

header div {
  padding: 0 1rem;
}

header h1 {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}

/* Настройка левой панели */
aside {
  grid-area: aside;
  height: 90vh;
  width: 20vw;
  background-color: var(--second-font-color);
  overflow-y: auto;
  color: var(--main-font-color);
}

aside::-webkit-scrollbar {
  width: 0;
}

aside h1,
main h1 {
  text-align: center;
  margin-top: 1rem;
}

aside div {
  padding: 0 0.6rem;
  align-items: center;
}

/* Настройки раздела с добавлением блокнота */
#addNotebookDiv div,
.notebookName {
  font-size: calc(var(--main-font-size) * 1.1);
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
}

#addNotebookDiv span,
.notebookMenu {
  font-size: calc(var(--main-font-size) * 2);
}

.notebook {
  justify-content: space-between;
}

.notebookMenu {
  align-self: flex-end;
}

#addNameNotebook,
#addNameTask,
#addDescriptionTask {
  border: 3px solid var(--main-font-color);
  margin: 0.5rem 0;
  width: 100%;
}

.selected {
  background-color: var(--selected-color);
}

/* кнопки Добавить и Отмена для проектов */
#addNameNotebook + div {
  justify-content: center;
  gap: 1rem;
}

#addNameNotebook + div button,
#dateTask + div button {
  border-radius: 10px;
  padding: 0.2rem;
  width: 5rem;
}

#addNameNotebook {
  font-weight: 600;
  color: var(--main-font-color);
}

/* настройка окна с опциями и кнопок для блокнотов и задач */
.optionMenu {
  flex-direction: column;
  width: max-content;
  padding: 0;
  display: none;
  position: absolute;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: white;
  z-index: 1;
}

.optionMenu:hover {
  background-color: white;
}

.optionButton {
  display: block;
  width: 100%;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.optionButton:hover {
  background-color: lightgray;
}

/* Настройка правой панели */
main {
  grid-area: main;
  height: 90vh;
  width: 80vw;
  background-color: var(--third-color-color);
  overflow-y: auto;
}

main::-webkit-scrollbar {
  width: 0;
}

/* Настройки задач */
.task {
  display: grid;
  grid-template-columns: 1fr 15fr 2fr 1fr 1fr;
  align-items: center;
  border: 3px solid var(--main-font-color);
  margin: 0.5rem;
  border-radius: 5px;
  height: 5vh;
}

.task span {
  color: var(--main-font-color);
  font-size: calc(var(--main-font-size) * 1.4);
  place-self: center;
}

.inProcess {
  font-size: calc(var(--main-font-size) * 0.8);
  font-weight: 600;
}

.dueDate {
  border-left: 1px solid var(--main-font-color);
  border-right: 1px solid var(--main-font-color);
  border-radius: 5px;
  text-align: center;
  font-size: calc(var(--main-font-size) * 0.8);
}

/* Кнопка создания задач */
#addTaskDiv {
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem;
  font-weight: 600;
  color: var(--main-font-color);
}

#addTaskDiv span {
  font-size: calc(var(--main-font-size) * 2);
}

/* окно создания задачи */
#createTaskForm {
  margin: 0.5rem;
}

#createTaskForm input,
#createTaskForm,
#addDescriptionTask {
  font-weight: 600;
  color: var(--main-font-color);
}

#createTaskForm form {
  flex-direction: column;
}

#addDescriptionTask {
  resize: vertical;
}

#dateTask {
  margin: 0.5rem 0;
  border: 3px solid var(--main-font-color);
}

#dateTask + div {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

/* выполненная и задача в процессе */

.checkbox-done {
  text-decoration: line-through;
}

/* настройки для мобильной версии */
@media (max-width: 768px) {
  #root {
    grid-template-areas:
      "header"
      "aside"
      "main";
  }

  aside {
    height: 15vh;
    width: 100vw;
  }

  main {
    height: 75vh;
    width: 100vw;
  }

  header h1 {
    font-size: calc(var(--main-font-size) * 1.5);
  }

  .notebookName {
    font-size: var(--main-font-size);
  }
}
